@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales para Tema Claro Profesional */
body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8FAFC; /* Slate-50 (Gris muy suave profesional) */
  color: #1E293B; /* Slate-800 (Texto oscuro de alto contraste) */
}
